{% extends "homaster/base.html" %}
{% load static %}

{% block title %}
<title>{{ engawa.scenario_name }} - Shinobi-Mas</title>
{% endblock %}

{% block head %}
<meta name="user_id" content="{{ player.id }}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static 'assets/css/shinobi-mas-common.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/shinobi-mas-ho-list.css' %}">
<script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
<script src="{% static 'assets/js/sw_main.js' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<header class="header fixed-top your-auth">
  あなたは<strong>{{ role_name }}</strong>です。
</header>
<main class="main main-wrapper container-fluid">
  <div class="scenario-edit row flex-nowrap">
    <p class="scenario-name col-8">シナリオ名：{{ engawa.scenario_name }}</p>
    {% if player.is_gm %}
    <button id="create-handout" class="btn btn-primary col" type="button">ハンドアウトを追加する</button>
    <button id="close" class="btn btn-danger col">セッションを終了する</button>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-2">
      <div class="side-menu">
        <ul class="nav flex-column">
          {% if player.is_gm %}
          <li class="auth-control active"><a href="#">閲覧権限管理</a></li>
          <li class="invite"><a href="#">(再)入室用URL</a></li>
          {% else %}
          <li class="auth-control active"><a href="#">閲覧権限確認</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col-10">
      {% if object_list %}
      <div class="list-group ho-list">
      {% for handout in object_list %}
        <ul class="list-group-item" hoid="{{ handout.id }}" honame="{{ handout.ho_name }}">
          <table class="ho-table row">
            <tr class="ho-table-tanzaku">
              <td class="ho-table-id">
                {% if player.is_gm %}
                <a href="{% url 'homaster:update' handout.id %}">{{ handout.ho_name }}</a>
                {% else %}
                <a href="{% url 'homaster:detail' handout.id %}">{{ handout.ho_name }}</a>
                {% endif %}
              </td>
              <td class="ho-table-name-type">PC名:</td>
              <td class="ho-table-name">{{ handout.pc_name|default_if_none:"（未指定）" }}</td>
              <td class="ho-table-front" rowspan="2">{{ handout.front }}</td>
            </tr>
            <tr class="ho-table-tanzaku">
              <td class="ho-table-edit">
                {% if player.is_gm %}
                <a href="{% url 'homaster:update' handout.id %}" class="text-dark" title="編集">
                  <i class="far fa-edit"></i>
                </a>
                <span class="delete text-dark" title="削除">
                  <i class="far fa-trash-alt"></i>
                </span>
                {% endif %}
              </td>
              <td class="ho-table-name-type">PL名:</td>
              <td class="ho-table-name">{{ handout.pl_name|default_if_none:"（未指定）" }}</td>
            </tr>
          </table>
        </ul>
      {% endfor %}
      </div>
      {% endif %}
      <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block script %}
<script type="text/javascript">
  const sleep = waitTime => new Promise( resolve => setTimeout(resolve, waitTime) );

  $(document).ready(function() {
    $("#close").modalForm({
        formURL: "{% url 'homaster:close-engawa' %}"
    });

    $("#create-handout").modalForm({
        formURL: "{% url 'homaster:create-handout' %}"
    });

    $(".auth-control").modalForm({
      formURL: "{% url 'homaster:auth-control' %}"
    });

    $(".invite").modalForm({
        formURL: "{% url 'homaster:invite' %}"
    });

    $(".delete").each(function(index, element){
      var hoid = $(element).closest('ul').attr("hoid")
      var honame = $(element).closest('ul').attr("honame")
      $(element).modalForm({
        formURL: "{% url 'homaster:delete-handout' %}?id=" + hoid + "&name=" + honame
      })
    });
  });

  // 「閲覧権限〜」がクリックされたらモーダルの幅を拡張
  $(".auth-control").on('click', function() {
    $(".modal-dialog").addClass("modal-lg");
  });

  // 閲覧権限モーダルを閉じるときにモーダル幅をリセット
  $('#modal').on('hidden.bs.modal', function(event){
    $(".modal-dialog").removeClass("modal-lg");
  });

  // モーダル表示時の初期化処理
  $('#modal').on('shown.bs.modal', function(event){
    // コピーアイコンのtooltipを有効化
    $('i.fa-paste').tooltip('enable')
  });

  // mousedown：「コピーしました」tooltip表示
  $(document).on("mousedown", 'i.fa-paste',function() {
    var ho_name = $(this).attr('id').split('-')[2];
    var url = $("#url-for-" + ho_name).text().trim();
    navigator.clipboard.writeText(url).then(e => {
      $(this).attr('data-original-title', 'コピーしました！')
             .tooltip('show')
    });
  });

  // mouseup：2秒後に「コピーできます」に戻る
  $(document).on("mouseup", 'i.fa-paste', async function() {
    await sleep(2000);
    $(this).attr('data-original-title', 'クリックでコピーできます')
           .tooltip('hide')
  });
</script>
{% endblock %}
