{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ engawa.scenario_name }} - Shinobi-Mas</title>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.js' %}"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
  あなたは{{ role_name }}です<br>
  シナリオ名：{{ engawa.scenario_name }}
  {% if player.gm_flag %}
  <a href="{% url 'homaster:close-engawa' %}" class="btn btn-danger">ENGAWAを削除する</a>
  {% endif %}
  {% if object_list %}
  <div class="list-group">
  {% for handout in object_list %}
  <ul class="list-group-item" hoid="{{ handout.id }}">
    <a href="{% url 'homaster:detail' handout.id %}">{{ handout.ho_name }}</a>
    PC名: {{ handout.pc_name }}
    PL名: {{ handout.pl_name }}
    {{ handout.front }}<br>
    {% if player.gm_flag %}
    <a title="編集">
      <i class="far fa-edit"></i>
    </a>
    <a title="閲覧権限管理">
      <i class="far fa-eye"></i>
    </a>
    {% if handout.type == 1 %}
    <span class="invite text-dark" title="プレイヤー招待">
      <i class="fas fa-user-plus"></i>
    </span>
    {% endif %}
    <a href="{% url 'homaster:delete' %}?id={{ handout.id }}" class="text-dark" title="削除">
      <i class="far fa-trash-alt"></i>
    </a>
    {% endif %}
  </ul>
  {% endfor %}
  </div>
  {% endif %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  {% if player.gm_flag %}
  <div>
    <button id="create-handout" class="btn" type="button">ハンドアウトを追加する</button>
  </div>
  {% endif %}
</body>
<script type="text/javascript">
  $(document).ready(function() {
    $("#create-handout").modalForm({
        formURL: "{% url 'homaster:create-handout' %}"
    });

    $(".invite").each(function(index, element){
      var hoid = $(element).parent().attr("hoid")
      $(element).modalForm({
        formURL: "{% url 'homaster:invite' %}?id=" + hoid
      })
    });
  });
</script>
</html>
