{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ engawa.scenario_name }} - Shinobi-Mas</title>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
  <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
  あなたは{{ role_name }}です<br>
  シナリオ名：{{ engawa.scenario_name }}
  {% if player.gm_flag %}
  <a href="{% url 'homaster:close-engawa' %}" class="btn btn-danger">ENGAWAを削除する</a>
  {% endif %}
  {% if object_list %}
  <div class="list-group">
  {% for handout in object_list %}
  <ul class="list-group-item" hoid="{{ handout.id }}" honame="{{ handout.ho_name }}">
    <a href="{% url 'homaster:detail' handout.id %}">{{ handout.ho_name }}</a>
    PC名: {{ handout.pc_name }}
    PL名: {{ handout.pl_name }}
    {{ handout.front }}<br>
    {% if player.gm_flag %}
    <a href="{% url 'homaster:update' handout.id %}" class="text-dark" title="編集">
      <i class="far fa-edit"></i>
    </a>
    <span class="auth-control text-dark" title="閲覧権限管理">
      <i class="far fa-eye"></i>
    </span>
    {% if handout.type == 1 %}
    <span class="invite text-dark" title="プレイヤー招待">
      <i class="fas fa-user-plus"></i>
    </span>
    {% endif %}
    <a href="{% url 'homaster:delete' %}?id={{ handout.id }}" class="text-dark" title="削除">
      <i class="far fa-trash-alt"></i>
    </a>
    {% endif %}
  </ul>
  {% endfor %}
  </div>
  {% endif %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>
  {% if player.gm_flag %}
  <div>
    <button id="create-handout" class="btn" type="button">ハンドアウトを追加する</button>
  </div>
  {% endif %}
</body>
<script type="text/javascript">
  const sleep = waitTime => new Promise( resolve => setTimeout(resolve, waitTime) );

  $(document).ready(function() {
    $("#create-handout").modalForm({
        formURL: "{% url 'homaster:create-handout' %}"
    });

    $(".auth-control").each(function(index, element){
      var hoid = $(element).parent().attr("hoid")
      var honame = $(element).parent().attr("honame")
      $(element).modalForm({
        formURL: "{% url 'homaster:auth-control' %}?id=" + hoid + "&name=" + honame
      })
    });

    $(".invite").each(function(index, element){
      var hoid = $(element).parent().attr("hoid")
      $(element).modalForm({
        formURL: "{% url 'homaster:invite' %}?id=" + hoid
      })
    });
  });

  // モーダル表示時の初期化処理
  $('#modal').on('shown.bs.modal', function(event){
    // 表にチェックが付いていない裏を選択不能に
    $('input[name="auth_front"]').each(function(index){
      if ($(this).prop('checked') == false){
        var value = $(this).val();
        $('input[name=auth_back][value=' + value + ']').prop('disabled', true);
      }
    });
    // コピーアイコンのtooltipを有効化
    $('i.fa-paste').tooltip('enable')
  });

  // 非公開ハンドアウトの場合，表がcheckedの時だけ裏を選択可能とする
  $(document).on("click", 'input[name="auth_front"]',function() {
    var value = $(this).val();
    var sel = 'input[name="auth_back"][value=' + value + ']'
    if ( $(this).prop('checked') == false ) {
      // 裏だけ公開にならないようチェックを外す
      $(sel).prop('checked', false);
      $(sel).prop('disabled', true);
    } else {
      $(sel).prop('disabled', false);
    }
  });

  // mousedown：「コピーしました」tooltip表示
  $(document).on("mousedown", 'i.fa-paste',function() {
    var url = $(".card-body").text().trim();
    navigator.clipboard.writeText(url).then(e => {
      $(this).attr('data-original-title', 'コピーしました！')
             .tooltip('show')
    });
  });

  // mouseup：「コピーできます」に戻る
  $(document).on("mouseup", 'i.fa-paste', async function() {
    await sleep(2000);
    $(this).attr('data-original-title', 'クリックでコピーできます')
           .tooltip('hide')
  });
</script>
</html>
