{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Shinobi-Mas</title>
  <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/shinobi-mas-common.css' %}">
</head>
<body>
  <main class="main main-wrapper">
    <div class="index-app-name text-center">
      <h1>Shinobi-Mas (β)</h1>
      <p>TRPGハンドアウト管理ツール</p>
    </div>
    <div class="index-app-form text-center">
      <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="ENGAWAを設える">
      </form>
    </div>
    <div class="index-app-reenter-form text-center">
      <a href="{% url 'homaster:reenter' %}">ENGAWAのURLを忘れてしまった場合はこちら</a>
    </div>
  </main>
  <footer class="footer fixed-bottom">
    <div class="container">
      <p class="text-muted text-center">
        © 2021 Shinobi-Mas<br>
        お問い合わせはこちら→ shinobimas.master@gmail.com
      </p>
    </div>
  </footer>
</body>
</html>