{% load static %}
<!DOCTYPE html>
<html lang="ja">

<!-- ヘッダ -->
<head>
  <meta charset="UTF-8">
  <title>Shinobi-Mas</title>
  <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
  <style>
    .index-form{
      text-align: center;
    }
    .index-form .h1{
      height: 200px;
      padding: 100px;
    }
  </style>
</head>

<!-- 本文 -->
<body>
  <div class="index-form">
    <div class="h1">
      <h1>Shinobi-Mas</h1>
    </div>
    <div>
      <form method="post">{% csrf_token %}
        <label for="scenario_name">シナリオ名を入力してください</label>
        <input id="scenario_name" type="text" name="scenario_name" required>
        <input type="submit" class="btn" value="ENGAWAを設える">
    </div>
  </div>
</body>
</html>