{% extends "homaster/base.html" %}
{% load static %}

{% block title %}
<title>仮登録完了 - Shinobi-Mas</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
{% endblock %}

{% block content %}
<div class="text-center">
    メールアドレスの仮登録が完了しました。<br>
    ENGAWAに出るためにはメールボックスを確認し，<br>
    「仮登録完了のお知らせ」メールに記載されている本登録URLへアクセスしてください。<br><br>
    しばらくしてもメールが届かない場合は，入力したアドレスが正確でないか，<br>
    @gmail.comからのメールを受け取れない設定になっている可能性があります。<br>
    そちらをご確認の上，操作をやり直してください。
</div>
<a class="btn btn-secondary text-center" href="{% url 'homaster:index' %}">戻る</a>
{% endblock %}
