{% extends "homaster/base.html" %}
{% load static %}

{% block title %}
<title>ENGAWA再訪 - Shinobi-Mas</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/shinobi-mas-common.css' %}">
{% endblock %}

{% block content %}
<main class="main main-wrapper">
  <div class="text-center">
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-primary" value="メールを送信する">
      <a class="btn btn-secondary" href="{% url 'homaster:index' %}">戻る</a>
    </form>
  </div>
</main>
{% endblock %}
