{% load static %}
<!DOCTYPE html>
<html lang="ja">

<!-- ヘッダ -->
<head>
  <meta charset="UTF-8">
  <title>撤去完了</title>
  <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">
</head>

<!-- 本文 -->
<body>
ご利用ありがとうございました！またのセッションをお待ちしております！<br>
5秒後にトップページへ戻ります。
<footer class="footer fixed-bottom">
  <div class="container">
    <p class="text-muted text-center">
      © 2021 Shinobi-Mas<br>
      お問い合わせはこちら→ shinobimas.master@gmail.com
    </p>
  </div>
</footer>
</body>
<script type="text/javascript">
  setTimeout(function(){
    window.location.href = "{% url 'homaster:index' %}";
  }, 5*1000);
</script>
</html>
