{% extends "homaster/base.html" %}
{% load static %}

{% block title %}
<title>撤去完了 - Shinobi-Mas</title>
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/shinobi-mas-common.css' %}">
{% endblock %}

{% block content %}
<main class="main main-wrapper">
  <p class="text-center">
    ご利用ありがとうございました！またのセッションをお待ちしております！<br>
    5秒後にトップページへ戻ります。
  </p>
</main>
{% endblock %}

{% block script %}
<script type="text/javascript">
  setTimeout(function(){
    window.location.href = "{% url 'homaster:index' %}";
  }, 5*1000);
</script>
{% endblock %}
