/* 共通部品など */
.your-auth{
  width: auto;
  margin: 0px auto;
  padding: 5px 100px;
  background-color: #CCCCCC	;
}
.main-wrapper{
  min-height: 100vh;
  position: relative;
  /* margin: 0px 120px; */
  padding-top: 40px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

/* 共通 - 戻るボタン */
.return-buttom{
  float: right;
  margin: 5px 120px 5px 0px;
}

/* トップページ */
.release-note-link{
  width: auto;
  margin: 0px auto;
  padding: 5px 100px;
  text-decoration: underline;
}
.index-app-name{
  height: 60%;
  padding: 100px;
}
.index-app-form{
  height: 30%;
  padding: 20px;
}
.index-app-reenter-form{
  height: 10%;
  padding: 20px;
}

/* ハンドアウト詳細 */
textarea{
  height: 200px;
  width: 1000px;
}

/* リリースノート */
.version-block{
  margin-bottom: 30px;
}
.version-block .version-block-body{
  margin: 0px 15px;
}
