.ho-detail-form{
  margin: 0px auto;
  padding: 5px 0px;
}
.ho-detail-form .ho-detail-type{
  text-align: start;
  font-size: 20px;
}
.ho-detail-form .ho-detail-table{
  width: 1050px;
}
.ho-detail-form .ho-detail-table .ho-detail-table-col{
  width: 75px;
}
.ho-detail-form .ho-detail-table .ho-detail-table-charf{
  width: 200px;
}
.ho-detail-form .ho-detail-table .ho-detail-table-textf{
  height: 200px;
}